<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Match Prediction</title>
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="heading">
        <img class="logo" src="../static/img/logo.png" alt="https://pixlok.com/images/ipl-logo-in-white-color-png-image-free-download/">
        <h1>IPL Match Prediction</h1>
    </div>


    <div id="predictions-container">
        {% if predictions %}
        <h2>Predicted Outcome:</h2>
        <p>{{ predictions }}</p>
        {% else %}
        <p>No predictions yet.</p>
        {% endif %}
    </div>

    <form action="/prediction" method="post" onsubmit="return validateTeams()">

        <div class="container">

            <div class="row1">

                <div class="col1">
                    <label for="batting_team">Batting Team</label>
                    <select id="batting_team" name="batting_team" required>
                        <option value="" disabled selected>Select a team</option>
                        <option value="1">Chennai Super Kings</option>
                        <option value="2">Delhi Capitals</option>
                        <option value="3">Kings XI Punjab</option>
                        <option value="4">Kolkata Knight Riders</option>
                        <option value="5">Mumbai Indians</option>
                        <option value="6">Rajasthan Royals</option>
                        <option value="7">Royal Challengers Bangalore</option>
                        <option value="8">Sunrisers Hyderabad</option>
                    </select><br>
                </div>
                <div class="col2">

                    <label for="bowling_team">Bowling Team:</label>
                    <select id="bowling_team" name="bowling_team" required>
                        <option value="" disabled selected>Select a team</option>
                        <option value="1">Chennai Super Kings</option>
                        <option value="2">Delhi Capitals</option>
                        <option value="3">Kings XI Punjab</option>
                        <option value="4">Kolkata Knight Riders</option>
                        <option value="5">Mumbai Indians</option>
                        <option value="6">Rajasthan Royals</option>
                        <option value="7">Royal Challengers Bangalore</option>
                        <option value="8">Sunrisers Hyderabad</option>
                    </select><br>
                </div>

            </div>
            <div class="row2">

                <div class="col1">
                    <label for="target">Target</label>
                    <input type="number" id="target" name="target" required min="50" max="250"><br>
                </div>
                

                <div class="col2">

                    <label for="runs_left">Runs Left:</label>
                    <input type="number" id="runs_left" name="runs_left" required min="1" max="250"><br>
                </div>
            </div>
            <div class="row3">

                <div class="col1">

                    <label for="balls_left">Balls Left</label>
                    <input type="number" id="balls_left" name="balls_left" required min="6" max="70"><br>
                </div>

                <div class="col2">

                    <label for="wickets_left">Wickets Left:</label>
                    <input type="number" id="wickets_left" name="wickets_left" required min="1" max="10"><br>
                </div>
            </div>

            <div class="row4">
                <input type="submit" value="Predict">
            </div>
        </div>
    </form>

</body>

</html>